.app-banner-bg {
	background-image: url(https://res.cloudinary.com/dz38ynihz/image/upload/v1562158320/sportage/lebron_qhpii2.jpg);
	background-repeat: no-repeat;
	background-position-y: bottom;
	background-position-x: center;
	background-size: contain;
	mix-blend-mode: overlay !important;
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0.12;
	z-index: 1;

	@media (max-width: $screen-sm-min) {
		display: none;
	}
}
