.app-cart-card {
	.card {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 2fr auto;

		@media (max-width: $screen-md-min) {
			display: flex;
		}
	}
}

.ui.segment {
	padding: $pad-me;
	box-shadow: 0 4px 6px hsla(0, 0, 0%, 0.7) 0 5px 15px hsla(0, 0, 0%, 0.1) !important;
}

.message {
	background: $faint-offwhite !important;
	a {
		font-weight: bold;
		color: $black;
	}
}
