.app-wrapper {
	height: 100vh;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 60px auto 60px;

	@media (max-width: $screen-lg-min) {
		grid-template-columns: 40px 1fr;
		.app-footer {
			display: none;
		}
	}
	@media (max-width: $screen-xl-min) {
		grid-template-columns: 50px 1fr;
		.app-footer {
			display: none;
		}
	}
}
.app-body {
	height: 100%;
	overflow: scroll;
}

.app-container {
	min-height: 100%;
	background-color: $faint-gray;
	background-image: url(../svgs/glamorous.svg);
}

.app-auth-content {
	width: 45%;
	margin: auto;
	padding: $pad-me 0;
	@media (max-width: $screen-xl-min) {
		width: 70%;
	}
	@media (max-width: $screen-md-min) {
		width: 90%;
	}
}

.app-banner {
	width: 100%;
	height: 100vh;
	display: flex;
	background-color: $black !important;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	position: relative;
	h1 {
		z-index: 2 !important;
		color: white;
	}

	p {
		z-index: 2 !important;
		color: white;
	}
}

.app-leaderboard {
	width: 100%;
	height: 350px;
	background: $faint-offwhite;
	border: 1px solid $faint-black;
	border-left: 0;
	border-right: 0;
}

.empty-container {
	padding-top: 12em !important;
}
