* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	transition: 0.6s !important;
}

::-webkit-scrollbar {
	width: 0px !important; /* Remove scrollbar space */
	background: transparent !important; /* Optional: just make scrollbar invisible */
}

.align-top {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.align-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.align-bottom {
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding-top: 40px;
}

.padded {
	padding: $pad-me;
}

.mb {
	margin-bottom: $pad-me;
}

.mt {
	margin-top: $pad-me !important;
}

.pt {
	margin-top: $pad-me;
}

.text-center {
	text-align: center;
}
.flat {
	flex-direction: column;
}
