.app-header,
.app-footer {
	height: 100%;
	display: flex;
	justify-content: center;

	.menu {
		display: flex;
		border: none !important;
		width: 100% !important;
		div {
			height: 33%;
		}
	}
}

.sidebar {
	max-width: 40%;
	padding: 100px;
	display: grid !important;
	grid-template-rows: 100px 1fr 100px !important;
	background-image: url(https://res.cloudinary.com/dz38ynihz/image/upload/v1562158321/sportage/background_gle0q0.jpg) !important;
	background-color: $faint-offwhite !important;
	background-size: unset !important;
	background-repeat: no-repeat !important;
	background-blend-mode: overlay !important;
	background-position: top;

	@media (max-width: $screen-sm-min) {
		max-width: 100%;
		padding: 100px 30px;
	}

	@media (max-width: $screen-lg-min) {
		min-width: 80%;
	}

	@media (max-width: $screen-xl-min) {
		max-width: 60%;
	}
}

.app-routes {
	display: flex;
	flex-direction: column;
	padding-left: $pad-me;
	text-align: left !important;
	justify-content: center !important;
	height: 100% !important;
	.item {
		padding-left: 0 !important;
	}
	a {
		width: 100%;
		padding: 0.8rem;
		border-radius: 5px;
		color: $black;
		display: flex;
		align-items: center;
		&:hover {
			background-color: $faint-yellow;
		}
	}
}

.app-social-links.horizontal {
	display: flex;
}

.app-logo {
	height: 100% !important;
	display: flex;
	align-items: flex-end !important;
}
