h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Josefin sans", sans-serif !important;
}

span,
div,
label,
input,
button,
a,
span {
	font-family: "Quicksand", sans-serif !important;
}

button {
	text-transform: capitalize;
	&:hover {
		background: $faint-yellow !important;
		color: $black !important;
	}
}

button {
	margin: 0.8rem 0 !important;
	&:hover {
		box-shadow: 0 4px 6px hsla(0, 0, 0%, 0.2) !important;
	}
}

label {
	font-size: 16px !important;
}

.app-banner {
	h1 {
		font-size: 10em;
	}
	p {
		font-size: 2em;
	}

	@media (max-width: $screen-lg-min) {
		h1 {
			font-size: 122px;
		}

		p {
			font-size: 26px;
		}
	}
	@media (max-width: $screen-md-min) {
		h1 {
			font-size: 82px;
		}

		p {
			font-size: 26px;
		}
	}

	@media (max-width: $screen-sm-min) {
		h1 {
			font-size: 48px;
		}

		p {
			font-size: 16px;
		}
	}
}

.app-affirmation {
	background: $faint-yellow;
	padding: 10px;
	border-radius: 5px;
	color: $black !important;
	box-shadow: 0 4px 6px hsla(0, 0, 0%, 0.2);
	font-family: "Josefin sans", sans-serif !important;
}

.card .content {
	* {
		margin: 0.8rem 0 !important;
	}
	.header {
		font-size: 18px !important;
		font-family: "Josefin sans", sans-serif !important;
	}

	.meta {
		font-size: 16px !important;
	}

	.description {
		font-size: 14px !important;
		line-height: 1.2em !important;
	}
}
