$faint-purple: rgba(128, 0, 128, 0.057);

$faint-offwhite: #f8f8f8;

$faint-gray: #e2e2f1;

$faint-black: rgba(0, 0, 0, 0.2);

$faint-yellow: #ffec66;

$black: #222222;

$screen-sm-min: 430px;
// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1280px;

$pad-me: 30px;
